<!-- Appended Input-->
<div class="form-group">
  <label class="control-label col-md-4" for="<%- id %>"><%- label %></label>
  <div class="col-md-6">
    <div class="input-group">
      <input
      	id="<%- id %>"
      	name="<%- id %>"
      	class="<%- inputsize %> form-control"
      	<% if(placeholder) { %> placeholder="<%- placeholder %>" <% } %>
      	type="text"
      	<% if(required) {%> required <% } %>
      />
      <span class="input-group-addon"><%- append %></span>
    </div>
    <% if (helptext.length > 0) { %><p class="help-block"><%- helptext %></p><% } %>
  </div>
</div>
